

<div class="profile-banner" style= 'background-image: url("http://res.cloudinary.com/da6umoo9p/image/upload/v1497453922/bmeaqlapqws66nupct97.jpg")'>
  <div class="profile-banner-title">Mon profil</div>
</div>

<div class="table-wrapper">
  <h1>Mes entrées</h1>
  <table class="pass-table">
    <tr>
      <th>Nom de la salle</th>
      <th class="hidden-xs">Acheté le</th>
      <th >Expire le</th>
      <th>Statut</th>
    </tr>
    <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.gym.name %></td>
      <td class="hidden-xs"><%= booking.date.day %>/<%= booking.date.month %></td>
      <td ><%= booking.expiry_date.day %>/<%= booking.expiry_date.month %></td>
      <td>
        <% if booking.validity == true && booking.expiry_date > Date.new && booking.state == "paid" %>
        <span class="valid"> Elle est encore valide. </span>
        <% elsif booking.validity == true && booking.expiry_date > Date.new || booking.state == "paid" %>
        <span class="invalid"> Le paiment n'a pas été effectué. </span>
        <% else %>
        <span class="invalid"> Elle n'est plus valide.</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div class="table-wrapper">
  <h1>Mes infos</h1>
  <ul>
    <li> Nom: <%= @user.first_name %></li>
    <li> Prénom: <%= @user.last_name %></li>
    <li> Email: <%= @user.email %></li>
  </ul>
  <%= link_to "Changez vos données", edit_user_registration_path %>
</div>

