<div class="row">

<% if @gyms == Gym.all %>
  <p> Désolé, nous n'avons pas trouvé de résultats a votre recherche </p>
<% end %>
  <% @gyms.each do |gym| %>
  <div class ="col-xs-12 col-sm-6" >
    <%= link_to gym_path(gym), style:"text-decoration:none;" do %>
    <div class="card">
      <div class="image-card"
        style='background-image: url("<%= gym.photo.url %>"),linear-gradient(-225deg, rgba(52, 18, 0, 0.6) 0%, rgba(110, 55, 0, 0.4) 50%)' >
        <div class="text">
          <p><%= gym.name %></p>
        </div>
        <div class="card-description">
          <h3> Une entrée
            <div class="card-price">
              <%= gym.price %>
              <i class="fa fa-eur" aria-hidden="true"></i>
            </div>
          </h3>
        </div>
      </div>
      <h2><%= gym.address %></h2>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
