<h1> <%= @gym.name %></h1>
<p> <%= @gym.address %></p>
<p> <%= @gym.description %></p>
<p> <%= @gym.opening_hours %></p>
<p> <%= @gym.services %></p>
<p> <%= @gym.equipments %></p>
<p> <%= cl_image_tag @gym.photo %></p>

<% if @gym.photo.url.nil? %>
<h3>Upload your picture</h3>
<%= simple_form_for(@gym) do |f| %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>user
<%= f.button :submit, "Add picture" %>
<% end %>
<% end %>

<h2>Notre offre</h2>
<p>Une entrée: <%= @gym.price %> euros !!</p>
<% if user_signed_in?  %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Acheter une entrée chez <%= @gym.name %></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <h3 class="text-center">Récapitulatif de votre commande</h3>
      <p>Vous avez choisi 1 entrée chez <%= @gym.name %></p>
      <p>Elle sera valide, jusqu'au <%= 30.days.from_now.day %>/<%= 30.days.from_now.month %></p>
      <p>Coût total: <span class="prix"> <%= @gym.price %> € </span></p>
      <%= link_to "Acheter une entrée",  gym_bookings_path(@gym), method: :post %>
    </div>
  </div>
</div>
<% else %>
<%= link_to "Connectez-vous pour acheter une entrée", user_session_path %>
<% end %>

