<!DOCTYPE html>
<html>
<head>

  <title>HOPFIT</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800" rel="stylesheet">

 <!--  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <%= favicon_link_tag(source= "favicon.png") %>
</head>
<body class="Site">

  <%= render 'shared/navbar' %>

  <%= render 'shared/flashes' %>

  <div class='Site-content'>
    <%= yield %>
  </div>


  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
</body>
</html>
